<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <a routerLink='/login'>
    <button>Log out!</button>
  </a>
  <h1>
    Welcome to {{ title |myNewPipe}}!
  </h1>
  <div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Image</th>
            <th>Firstname</th>
            <th>Lastname</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let person of data; let i = index">
            <td>
              <img width="150" alt="Angular Logo" src='{{person.avatar}}'>
            </td>
            <td>{{ person.first_name }}</td>
            <td>{{ person.last_name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>