<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <div class="login-wrapper">
        <div class="login-block">
            <h1>Login</h1>
            <ul class="login-list">
                <li>
                    <label>Email</label>
                    <span *ngIf="formError.email" class="validation-error">Email Required</span>
                    <input type="text" class="form-control" name="email" [(ngModel)]='model.email' required />
                </li>
                <li>
                    <label>Password</label>
                    <span *ngIf="formError.password" class="validation-error">Password Required</span>
                    <input type="password" class="form-control" name="password" [(ngModel)]='model.password' required />
                </li>
                <li>
                    <div class="login-btn">
                        <button class="btn btn-primary" (click)="onSubmit();">Login</button>
                        <div class="text-right">
                            <button type="button"  (click)="route.navigateByUrl('/signup');" class="btn btn-link px-0 pointer-class">Register</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>